<body>
        <div>
            <center>
                <img id="banner" src="img/banner.jpg">
                <br>
                <h1 id="photogall">Photo Gallery</h1>
                <div class="hovergallery">
                    <img src="img/cover1.jpg">
                    <img src="img/allmylove.jpg">
                    <img src="img/head.jpg">
                    <img src="img/leanon.jpg">
                    <img src="img/louder.jpg">
                    <img src="img/ml1.jpg">
                    <img src="img/ml2.jpg">
                    <img src="img/grouppic.jpg">
                </div>
            </center>
        </div>
    </body>