<header>
     	<div class="container">
     		<h1>Major Lazer</h1>
     	</div>
     </header>
     <section id="about">
     	<div class="container">
     		<h2>About</h2>
     	</div>
     </section>
     <section id="reviews">
     	<div class="container">
     		<h2>Reviews</h2>
                <div class="container" id="review-intro">
                    <h6>Check what everyone is saying about Major Lazer's albums: <em>Peace is the Mission</em> and <em>Free the Universe </em></h6>
                </div>
     			<div class="row">
     				<div class="col-md-4">
     					<p cite="http://www.rollingstone.com/music/albumreviews/major-lazer-peace-is-the-mission-20150602"><em>"Diplo has spent the past few years as the guy Madonna, Beyoncé and Justin Bieber dial up when they want their hits to have a little next-level studio science. But it's his electro-reggae project Major Lazer [and it's album "Peace is the Mission"] that really lets him unleash his inner beat freak."</em></p>
                        <p>Rolling Stone</p>
     				</div>
     				<div class="col-md-4">
     					<p cite="http://pitchfork.com/reviews/albums/20519-peace-is-the-mission/"><em>"Peace Is the Mission finds the group finally emerging from their cocoon.These tracks also illustrate what Major Lazer excel at: crafting intricate, innovative EDM for honey-voiced singers that pushes boundaries people like David Guetta and Calvin Harris seemingly refuse to touch."</em></p>
                        <p>Pitchfork.com</p>
     				</div>
     				<div class="col-md-4">
     					<p cite="http://www.billboard.com/articles/review/6590208/diplo-major-lazer-peace-is-the-mission-review"><em>"Peace Is the Mission soars on the strength of sticky melodies sung by a unique combo of pop divas and West Indian vocalists. Long a quirky, inconsistent side project of dance's busiest all-over-the-place producer, Diplo's reggae-inspired Major Lazer outfit comes into sharper focus on its third album."</em></p>
                        <p>Billboard</p>
     				</div>
     				<div class="col-md-4">
     					<p cite="http://www.idolator.com/7452815/major-lazer-free-the-universe-album-review"><em>"...Major Lazer’s sophomore release, Free The Universe (released April 15), feels like a widescreen 3D version of the already explosive sound that existed on Guns Don’t Kill People… Diplo calls on bigger name collaborators... to create a kaleidoscopic, globetrotting dance record that never becomes less than an insanely fun, absurdly catchy house party."</em></p>
                        <p>Idolator.com</p>
     				</div>
     				<div class="col-md-4">
     					<p cite="http://www.theguardian.com/music/2014/feb/16/sean-paul-full-frequency-review"><em>Fronted by the blond, blue-eyed Diplo, the whiff of the ersatz may remain with Major Lazer, especially on a couple of overwhelmingly screamy EDM tracks, but it's the same man's ability to craft memorable modern pop that has kept this project interesting.</em></p>
                        <p>The Guardian</p>
     				</div>
     				<div class="col-md-4">
     					<p cite="http://www.spin.com/2013/04/major-lazer-free-the-universe-mad-decent-secretly-canadian-diplo/"><em>Free the Universe is freaked-out pop with no qualms about delivering, say, a sunny, beachside reggae jam...Pop-meets-dancehall is still the group’s overarching intention, but there’s also punk rock, dubstep, rap, and various cross-pollinated dance crazes...The record’s strongest asset is making things that shouldn’t work together sound natural</em></p>
                        <p>Spin.com</p>
     				</div>
     			</div>
     	</div>
     </section>
     <section id="social_media">
        <div class="container">
            <h2>Connect</h2>
        </div>
     	<div class="container" id="icons">
     		<div class="row">
     			<div class="col-xs-3">
     				<a href="https://www.facebook.com/majorlazer?_rdr=p" class="btn btn-default btn-circle">
                        <i class="fa fa-facebook fa-3x"></i> 
                    </a>
     			</div>
     			<div class="col-xs-3">
     				<a href="https://www.youtube.com/user/majorlazer" class="btn btn-default btn-circle">
                        <i class="fa fa-youtube fa-3x"></i> 
                    </a>
     			</div>
     			<div class="col-xs-3">
     				<a href="https://twitter.com/MAJORLAZER" class="btn btn-default btn-circle">
                        <i class="fa fa-twitter fa-3x"></i> 
                    </a>
     			</div>
     			<div class="col-xs-3">
     				<a href="https://www.instagram.com/majorlazer/" class="btn btn-default btn-circle">
                        <i class="fa fa-instagram fa-3x"></i> 
                    </a>
     			</div>
     		</div>
     	</div>
     </section>
     <section id="soundcloud_player" ng-controller="homeCtrl">
        <div class="container" id="play-container">
            <button type="button" class="btn btn-lg" id="play" ng-click="play()">
                <span class="glyphicon glyphicon-play-circle"></span>
            </button>
        </div>
     <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
     </section> 
