body{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: black;
  color:white;
}
/*.navbar-toggle {
  background-color:gray;
}*/
.navbar-default{
  background-color: black;
  border-color: black;
}
a{
  background-color: black;
  border-color: black;
}
span .icon-bar{
  color:red;
}

header h1{
  font-weight: bolder;
  font-size: 80px;
  color: rgb(252, 253, 56);

}
@media screen and (min-width: 768px) {
    body{
      font-size:18px;  
    }
    header h1{
      font-size: 125px;
    }
     #icons{
      margin-left: 50px;
    }
    /*#review-intro{
      padding-bottom: 30px;
      padding-top: 20px;
    }*/
    #bio{
      margin-top: 40px;
    }
    #nav{
      padding-top: 25px;
    }
    #connect{
      padding-bottom: 40px;
    }
}
#icons{
      margin-top: 25px;
    }
  .nav>li>a:focus{
  font-size: 18px;
  text-decoration: underline;
  color:rgb(64,224,208); 
  background-color: black;
  }
  .nav>li>a:hover {
  text-decoration: none;
  color:rgb(64,224,208); 
  background-color: black;

  }
  .nav>li>a:active {
  text-decoration: none;
  color:orange; 
  background-color: black;
  }

  a{
    color: orange;
  }
 
  #review-intro{
      padding-bottom: 10px;
      padding-top: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

#title{
  margin-bottom: 10px;
}
#social_media{
      /*padding-top: 50px;*/
      padding-bottom: 50px;
    }

/*generalize this styling*/
h1, h2, h6, #review-intro{
	text-align:center;
  	color:rgb(167, 204, 0);
}

#play{
  height:20px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
  background: none;
}
#bio{
      margin-top: 40px;
}
/*change background-color*/
footer{
  border-top:solid;
  border-bottom-width: 3px;
  /*border-top-color:#d87e28;*/
  background-color:rgb(169,169,169);
  padding-left: 1em;
  font-size: 16px;
  color:rgb(220,20,60);
  width: 100%;
}

#play-container{
  padding-top: 50px;
  padding-bottom: 100px;
}
a.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 30px;
  border: none;
}
.bottom-links a.btn:hover ,.bottom-links a.btn-default:hover, .bottom-links a.btn-circle:hover {
  background-color: transparent;
  border-color: transparent;
}
.bottom-links a.btn ,.bottom-links a.btn-default, .bottom-links a.btn-circle {
  background-color: black;
  border-color: transparent;
}

.bottom-links a.btn:hover i , .bottom-links a.btn-default:hover i, .bottom-links a.btn-circle:hover i{
  /*color: rgba(51, 51, 51, 1.0);*/
  color: rgb(64,224,208);
  
}
.bottom-links a.btn i , .bottom-links a.btn-default i, .bottom-links a.btn-circle i{
  /*color: rgba(51, 51, 51, 0.40);*/
  color:orange;
}

.bottom-links a.btn:active , .bottom-links a.btn-default:active, .bottom-links a.btn-circle:active {
  background-color: none;
  border-color: none;
}

#widget, #sc-widget{
  padding-top: 40px;
  margin-bottom: 30px;
}

.hovergallery img{ 
-webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/ 
-moz-transform:scale(0.8); /*Mozilla scale version*/ 
-o-transform:scale(0.8); /*Opera scale version*/ 
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/ 
-moz-transition-duration: 0.5s; /*Mozilla duration version*/ 
-o-transition-duration: 0.5s; /*Opera duration version*/ 
opacity: 0.7; /*initial opacity of images*/ 
margin: 0 10px 5px 0; /*margin between images*/ 
} 

.hovergallery img:hover{ 
-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/ 
-moz-transform:scale(1.1); /*Mozilla scale version*/ 
-o-transform:scale(1.1); /*Opera scale version*/ 
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/ 
-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/ 
-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/ 
opacity: 1; 
} 

#searchBar {
  text-align: right;
  color: orange;
} 

th {
  color: orange;
}

input {
    color: blue;
}

em {
    color: yellow;
}

td a {
  color: rgb(220,20,60);
}

table {
  text-align: center;
  padding-bottom: 20px;
} 

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.center td {
    padding-bottom: 20px;
} 

@media screen and (min-width: 0px) {
  .center td {padding-right: 50px;}
  .center th {padding-right: 50px;}
  
  body {
    font-size: 14px;
  }
  
  #concert {
    width: 100%;
    height: 200px;
    background-image: url('img/lasershow.jpg');
    background-size: 100% 100%
  }

  #searchBar {
    padding-right: 60px;
  }
}

@media screen and (min-width: 425px) {
  .center td {padding-right: 25px;}
  .center th {padding-right: 25px;}

  #searchBar {
      padding-right: 35px;
  }
}

@media screen and (min-width: 768px) {
  .center td {padding-right: 75px;}
  .center th {padding-right: 75px;}

  body {
    font-size: 16px;
  }

  #concert {
     width: 100%;
     height: 400px;
     background-image: url('img/lasershow.jpg');
     background-size: 100% 100%
  }

  #searchBar {
    padding-right: 85px;
  }
}

/* font gets bigger at 768px; */
/*@media screen and (min-width: 768px) {
  .center td {padding-right: 100px;}
  .center th {padding-right: 100px;}
body {
    font-size: 16px;
}
 #concert {
   width: 100%;
   height: 400px;
   background-image: url('img/lasershow.jpg');
   background-size: 100% 100%
  }
}*/

@media screen and (min-width: 992px) {
.center td {padding-right: 100px;} 
.center th {padding-right: 100px;}
} 

@media screen and (min-width: 992px) {
.center td {padding-right: 150px;} 
.center th {padding-right: 150px;} 
}

#concert {
  width: 100%;
  height: 400px;
  background-image: url('img/lasershow.jpg');
  background-size: 100% 100%
}

