body{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
    body{
        font-size:22px;  
    }
    header h1{
      font-size: 125px;
      font-weight: bolder;
      color: rgb(252, 253, 56);
    }
     #icons{
    padding-left: 150px;
  }

}
#review-intro{
  padding-bottom: 50px;
  padding-top: 40px;
}
#bio{
  padding-top: 40px;
}


/*
#banner{
    background-image:url("../img/maxresdefault.jpg");
}*/

/*generalize this styling*/
h1, h2, h6, #review-intro{
	text-align:center;
}

#image{
	border:1px solid black;
}

span.glyphicon, span.glyphicon-play-circle{
    font-size: 3.4em;
}

#play{
	  height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    background: none;
}

/*change background-color*/
footer{
    border-top:solid;
    border-bottom-width: 3px;
    border-top-color:#d87e28;
    background-color:#afb3c2;
    padding-left: 1em;
    font-size: 16px;
}
#play-container{
  padding-top: 50px;
  padding-bottom: 100px;
}
a.btn-circle {
  width: 65px;
  height: 65px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  /*1.42*/
  line-height: 1.42;
  border-radius: 15px;
  border: none;
}
a.btn:hover , a.btn-default:hover, a.btn-circle:hover {
  background-color: transparent;
  border-color: transparent;
}
/*add media query for desktop screens*/

a.btn:active , a.btn-default:active, a.btn-circle:active {
  background-color: rgba(255,280 , 0, 0.3);
  border-color: transparent;
}
 
#nav{
  padding-top: 25px;
}
#myNavbar li > a:hover{
  text-decoration: underline;
  background-color: none;
}
#social_media{
  padding-top: 50px;
  padding-bottom: 50px;
}

#widget, #sc-widget{
  padding-top: 40px;
  /*padding-left: 100px;*/
}